body {
}
#content {
    text-align: center;
}
#logo {
    width: 330px;
}
#Txt_Input {
    width: 500px;
    margin-top: 7px;
    margin-bottom: 7px;
}
#txtA_ListVideo {
    margin-top: 30px;
    width: 300px;
    height: 379px;
}
#play {
    font-size: 62%;
    margin-bottom: 30px;
    width: 77px;
    height: 25px;
    text-align: center;
}
